In [37]:
!pip install tradingview_ta

Requirement already satisfied: tradingview_ta in /Users/arm2/anaconda3/lib/python3.11/site-packages (3.3.0)
Requirement already satisfied: requests in /Users/arm2/anaconda3/lib/python3.11/site-packages (from tradingview_ta) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from requests->tradingview_ta) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from requests->tradingview_ta) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from requests->tradingview_ta) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from requests->tradingview_ta) (2023.7.22)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [38]:
from tradingview_ta import TA_Handler, Interval, Exchange
import tradingview_ta
import pandas as pd

In [39]:
!pip install selenium

Requirement already satisfied: selenium in /Users/arm2/anaconda3/lib/python3.11/site-packages (4.16.0)
Requirement already satisfied: urllib3<3,>=1.26 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from selenium) (0.23.2)
Requirement already satisfied: trio-websocket~=0.9 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in /Users/arm2/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /Users/arm2/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in /Users/arm2/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: wsproto>=0.14 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/arm2/anaconda3/lib/python3.11/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [40]:
from selenium import webdriver 
from selenium.webdriver.common.by import By
import numpy as np
import requests
import bs4

In [41]:
PRM = TA_Handler(
symbol = 'PRM',
screener = 'thailand',
    exchange = 'SET',
    interval = Interval.INTERVAL_1_DAY,
)

In [42]:
PRM_summary = PRM.get_analysis().summary
PRM_summary
PRM_summary = pd.DataFrame.from_dict(PRM_summary, orient = 'index')
PRM_summary.rename(columns = {0:'Summary'}, inplace = True)
PRM_summary

               Summary
RECOMMENDATION    SELL
BUY                  4
SELL                12
NEUTRAL             10

In [43]:
PRM_oscillators = PRM.get_analysis().oscillators
PRM_oscillators = pd.DataFrame.from_dict(PRM_oscillators, orient = 'index')

PRM_oscillators.rename(columns = {0:'oscillators'}, inplace = True)
PRM_oscillators = PRM_oscillators.drop(index=('COMPUTE'))
PRM_oscillators

               oscillators
RECOMMENDATION     NEUTRAL
BUY                      1
SELL                     1
NEUTRAL                  9

In [44]:
PRM_moving_averages = PRM.get_analysis().moving_averages
PRM_moving_averages = pd.DataFrame.from_dict(PRM_moving_averages, orient = 'index')

PRM_moving_averages.rename(columns = {0:'Moving_Averages'}, inplace = True)
PRM_moving_averages = PRM_moving_averages.drop(index=('COMPUTE'))
PRM_moving_averages

               Moving_Averages
RECOMMENDATION     STRONG_SELL
BUY                          3
SELL                        11
NEUTRAL                      1

In [45]:
PRM = pd.concat([PRM_summary, PRM_oscillators, PRM_moving_averages], axis = 1)

In [46]:
PRM = PRM.reset_index()
PRM.rename(columns = {'index':'Signal'}, inplace = True)
PRM

           Signal Summary oscillators Moving_Averages
0  RECOMMENDATION    SELL     NEUTRAL     STRONG_SELL
1             BUY       4           1               3
2            SELL      12           1              11
3         NEUTRAL      10           9               1

In [47]:
PRM.to_csv('PRM_Final.csv', index = False)

In [17]:
driver = webdriver.Chrome()
driver.get('https://www.tradingview.com/symbols/SET-PRM/technicals/')

In [18]:
PRM_data = driver.page_source

In [19]:
PRM_ossilator = pd.read_html(PRM_data)[0]

/var/folders/r2/93nn3d1n2713cjf2mjhq935m0000gr/T/ipykernel_30310/4096318590.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  PRM_ossilator = pd.read_html(PRM_data)[0]

In [20]:
PRM_ossilator

                                  Name   Value   Action
0         Relative Strength Index (14)   42.64  Neutral
1             Stochastic %K (14, 3, 3)   37.50  Neutral
2         Commodity Channel Index (20)   −8.21  Neutral
3       Average Directional Index (14)   43.79  Neutral
4                   Awesome Oscillator   −0.39  Neutral
5                        Momentum (10)   −0.15     Sell
6                  MACD Level (12, 26)   −0.18      Buy
7   Stochastic RSI Fast (3, 3, 14, 14)   87.89  Neutral
8          Williams Percent Range (14)  −52.08  Neutral
9                      Bull Bear Power    0.08  Neutral
10     Ultimate Oscillator (7, 14, 28)   50.04  Neutral

In [21]:
PRM_ossilator.to_csv('PRM_ossilator.csv', index = False)

In [22]:
PRM_Moving_Averages = pd.read_html(PRM_data)[1]

/var/folders/r2/93nn3d1n2713cjf2mjhq935m0000gr/T/ipykernel_30310/4272071905.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  PRM_Moving_Averages = pd.read_html(PRM_data)[1]

In [23]:
PRM_Moving_Averages

                                   Name  Value   Action
0       Exponential Moving Average (10)   5.11      Buy
1            Simple Moving Average (10)   5.08      Buy
2       Exponential Moving Average (20)   5.22     Sell
3            Simple Moving Average (20)   5.18     Sell
4       Exponential Moving Average (30)   5.36     Sell
5            Simple Moving Average (30)   5.35     Sell
6       Exponential Moving Average (50)   5.60     Sell
7            Simple Moving Average (50)   5.67     Sell
8      Exponential Moving Average (100)   5.96     Sell
9           Simple Moving Average (100)   6.15     Sell
10     Exponential Moving Average (200)   6.27     Sell
11          Simple Moving Average (200)   6.48     Sell
12   Ichimoku Base Line (9, 26, 52, 26)   5.36  Neutral
13  Volume Weighted Moving Average (20)   5.15     Sell
14              Hull Moving Average (9)   5.11      Buy

In [24]:
PRM_Moving_Averages.to_csv('PRM_Moving_Averages.csv', index = False)

In [25]:
PRM_support_resistance = pd.read_html(PRM_data)[2]

/var/folders/r2/93nn3d1n2713cjf2mjhq935m0000gr/T/ipykernel_30310/2046158441.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  PRM_support_resistance = pd.read_html(PRM_data)[2]

In [26]:
PRM_support_resistance

  Pivot  Classic  Fibonacci  Camarilla  Woodie    DM
0    S3     2.87       4.17       4.74    3.15     —
1    S2     4.17       4.66       4.86    4.08     —
2    S1     4.63       4.97       4.98    4.45  4.40
3     P     5.47       5.47       5.47    5.38  5.35
4    R1     5.93       5.96       5.22    5.75  5.70
5    R2     6.77       6.27       5.34    6.68     —
6    R3     8.07       6.77       5.46    7.05     —

In [27]:
PRM_support_resistance = PRM_support_resistance[['Pivot', 'Classic', 'Fibonacci']]

In [28]:
PRM_support_resistance

  Pivot  Classic  Fibonacci
0    S3     2.87       4.17
1    S2     4.17       4.66
2    S1     4.63       4.97
3     P     5.47       5.47
4    R1     5.93       5.96
5    R2     6.77       6.27
6    R3     8.07       6.77

In [31]:
PRM_support_resistance['Pivot'] = PRM_support_resistance['Pivot'].replace(
    ['S3', 'S2', 'S1', 'P', 'R1', 'R2', 'R3'],
    ['Support3', 'Support2', 'Support1', 'Price', 'Resistance1', 'Resistance2', 'Resistance3',]
)

/var/folders/r2/93nn3d1n2713cjf2mjhq935m0000gr/T/ipykernel_30310/2553357854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PRM_support_resistance['Pivot'] = PRM_support_resistance['Pivot'].replace(

In [32]:
PRM_support_resistance

         Pivot  Classic  Fibonacci
0     Support3     2.87       4.17
1     Support2     4.17       4.66
2     Support1     4.63       4.97
3        Price     5.47       5.47
4  Resistance1     5.93       5.96
5  Resistance2     6.77       6.27
6  Resistance3     8.07       6.77

In [33]:
PRM_support_resistance.to_csv('PRM_support_resistance.csv', index = False)